body {
  margin-top: 25px;
  background-color: #fff;
}



.project-widget>header {
  line-height: normal;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fef5f5;
  border: 1px solid #ffa6a3;
  background: #e03f39;
  border-bottom: 0;
  height: 40px;
  padding: 0;
  margin: 0;
  display: block;
}

.project-widget>header>h2 {
  float: left;
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 18px;
  position: relative;
  line-height: 36px;
  font-weight: bold;
  margin:0;
  padding-left: 15px;
}

.project-widget>div {
  background-color: #fff !important;
  float: left;
  width: 100%;
  position: relative;
  font-size: 13px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #dee0df !important;
  border-bottom-color: #dee0df !important;
  border-left-color: #dee0df !important;
  padding: 13px 13px 0;
  overflow: visible;
}

.project-widget .widget-content {
  position: relative;
}

.widget-content.no-padding {
  margin: -13px -13px 0;
}

.widget-content .form-group.full-width {
  width: 100%;
  margin-bottom: 0px;
}

.widget-content .todo-input {
  width: 100%;
  height: 55px !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #dee0df;
  border-left: 0;
  border-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  color: #808080;
}


.todo-container .list-group {
  display: table;
  margin-bottom: 0;
}

.todo-container .list-group-item {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #dee0df;
  opacity: 1;
  transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
}

.todo-container .list-group-item.checked {
  opacity: 0.4;
  transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
}

.todo-container .list-group-item label {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  font-size: 24px;
  line-height: 1.2;
  vertical-align:middle;
}

.todo-container input[type="checkbox"] {
  position:relative;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin: 0;
  
}
/* Main Classes */
.todo-container input[type="checkbox"]:before{
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #dee0df;
  content: "";
  background: #FFF;
  vertical-align:middle;
  border-color: #dee0df;
  transition: border-color .3s;
  -o-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

.todo-container input[type="checkbox"]:after{
  position: relative;
  display: inline-block;
  top: -32px;
  left: 1px;
  width: 32px;
  height: 32px;
  content: "";
  border-color: #dee0df;
  vertical-align:middle;
}

.todo-container input[type="checkbox"]:checked:after{
  font: 200 32px/30px FontAwesome;
  content: '\f00c';
  color: #6fc576;
  text-align: center;
}

.todo-container input[type="checkbox"]:not(:disabled):not(:checked):hover:before{
  font: 200 32px/30px FontAwesome;
  content: "";
  border-color: #5D98CC;
  transition: border-color .3s;
  -o-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

.checkbox,.checkbox-label {
  display: table-cell;
}

.project-widget[data-theme="red"] {
  border-right-color: #ffa6a3 !important;
  border-bottom-color: #ffa6a3 !important;
  border-left-color: #ffa6a3 !important;
}

.project-widget[data-theme="red"] .widget-content .todo-input {
  border-top: 1px solid #ffa6a3;
}

.project-widget[data-theme="red"] .todo-container .list-group-item {
  border-top: 1px solid #ffa6a3;
}

.project-widget[data-theme="red"] .todo-container input[type="checkbox"]:before{
  border: 1px solid #ffa6a3;
  border-color: #ffa6a3;
  transition: border-color .3s;
  -o-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

.project-widget[data-theme="red"] .todo-container input[type="checkbox"]:after{
  border-color: #ffa6a3;
}

.project-widget[data-theme="red"] .todo-container input[type="checkbox"]:not(:disabled):not(:checked):hover:before{
  border-color: #e03f39;
  transition: border-color .3s;
  -o-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

/* Strike-through animation curteousy of Stackoverflow user Oriol */
@keyframes strikethrough {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: auto; }
}

label.strikethrough {  
  text-decoration: line-through;
  animation: strikethrough .3s linear;
}